{
    "container": "{{container}}",
    "server": "{{server}}",
    "use_local_sock": "{{use_local_sock}}",
    "user": "{{user}}",
    "smtp_server": "{{smtp_server}}",
    "smtp_port": {{smtp_port}},
    "email": "{{email}}",
    "password": "{{password}}",
    "oncall": "{{oncall}}",
    "cycle": {{cycle}}
}